
/*Default CSSið sem við fengum "gefins" */
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #ddd;
}
/* Default CSSið sem við fengum *gefins endar hér*/

/* Fontin sem við eigum að nota */
@font-face
{
	font-family: 'Merriweather-Regular';
	src: url(../Fonts/Merriweather-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face
{
  font-family: 'Merriweather-Italic';
  src: url(../Fonts/Merriweather-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}

@font-face
{
  font-family: 'IM-Fell-DW-Pica';
  src: url(../Fonts/IMFePIrm28P.ttf);
  font-style: normal;
  font-weight: 400;

}


html body
{
	font-size: 28px;

}
h1
{
  font-family: IM-Fell-DW-Pica;
}
h2
{
  font-family: IM-Fell-DW-Pica;
}
/*Header*/
header
{
  width: 100vw;
  height: 100vh;
  background-image: url(../img/trees.jpg);
  position: relative;
  text-align: center;
  color: #333;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 

  /*background-image: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)),url(../img/trees.jpg);
  position: relative;
  text-align: center;
  color: #333;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;   skv. samtali við osk vill hann frekar að við splæsum í protection div tag frekar en að vera með gradient*/ 
}
.protection /*Er protection div tag fyrir myndina svo að textinn sjáist betur */
{
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.2);
}


.protection>h1
{
  padding-top:2em;
  padding-left:1em;
  padding-right: 1em;
  font-size: 10vmin;
}
.protection>h2
{
  padding-top: 1em;
  font-size: 6vmin;
}

.protection>p
{
  font-family: Merriweather-Regular;
  font-weight: 500;
  margin-top: 1em;
  padding: 1em;
  font-size: 4vmin;
  font-weight: bold;
  text-transform: uppercase;
}


section>blockquote{
  font-family: Merriweather-Italic;
  font-style: italic;
  text-align:right;
  font-size: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  line-height: 2;

}
section>blockquote>cite{
  text-transform: uppercase;
  font-style: normal;
}

p
{
  font-family: 'Merriweather-Regular';
  font-weight: 400;
  font-size: 1em;
  padding: 1em;

}

/*Meginmál */
section
{
  max-width: 50em;
  margin: auto;

}
section>p
{
  line-height: 2;
}
section>p + p
{
  text-indent: 2em;
}
blockquote + p:first-letter
{
  font-weight: bold;
  font-size: 6em;
  float: left;
  margin-top: -0.5em;
  margin-bottom: -0.6em;
  padding-right: inherit;
}
section>p:first-child:first-letter
{
  font-weight: bold;
  font-size: 6em;
  float:left;
  margin-top: -0.5em;
  margin-bottom: -0.6em;
  padding-right: inherit;
}
.postscript + p:first-letter
{
  font-weight: bold;
  font-size: 6em;
  float: left;
  margin-top: -0.5em;
  margin-bottom: -0.6em;
  padding-right: inherit;
}

/*hr veislan */
hr
{
  height: 60vh;
  width: 100vw;  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: none;

}
hr:first-of-type
{
  background-image: url(../img/tree-fog.jpg);
}
hr:nth-of-type(2)
{
  background-image: url(../img/castle.jpg);
}
hr:nth-of-type(3)
{
  background-image: url(../img/hands.jpg);
}
hr:nth-of-type(4)
{
  background-image: url(../img/moon.jpg);
}

/*section:last-of-type>h2
{
  content:"";
  background-image: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)),url(../img/trees.jpg);
  margin:auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*section:last-of-type
{
  background-image: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)),url(../img/trees.jpg);
  height: 60vh;
  width: 100vw;  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/
footer
{
  background-color: rgba(221,221,221,1);/* Fóturinn í videoinu lookar smá gegnsær */
  color:#333;
  max-width: 50em;
  margin:auto;

}
footer>p
{
  margin:0;
  padding-bottom: 0;
}
ul
{
  padding:1em;
  padding-top: 0;
  list-style: none
}
p>a
{
  text-decoration: none;
  color: #333;

}
li>a
{
  list-style: none;
  text-decoration: none;
  color: #333;
}
.postscript
{

  background-image:url(../img/trees.jpg);
  margin:auto;
  position: sticky;
  left: 0;
  right: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color:#333;
  text-transform: uppercase;
  text-align: center;
}
.postscript>div
{

  background-color: rgba(255,255,255,.2);
  width: 100%;
  height: 100%;
}
.postscript>div>h2
{
  padding: 2em;
  padding-bottom: 2rem;
  font-size: 7vmin;
 
}
.postscript>div>p
{
  padding: 2em;
  font-size: 4vmin ;
  font-weight: bold;


}
