/*Núlla út user agent stylesheet sem er að trufla mig */
.card>p{
	margin:0;
}
button{
	background-color:white; /* replace-ar þennan svokallaða buttonface lit*/
}
p{
	margin-top: 0px;
}
/* almennar skilgreiningar */

html body {
	font-size: 18px;
	width: 44.4em;
}

/* texti */

h1{
	font-size: 2em; /* 2*18px = 36px */
	border-bottom: solid 1px #999;
	margin:0 0 1em 0; /* 1*36px = 36px */
}
h2{	
	font-size: 1.666667em; /* 30/18 = 1.6 * 18px = ~30px */
	margin: 0;
	color:#999;
}
h3 {
	font-size: 1em; /* 1*18 = 18px*/
	margin:0;
}
button{
	border: 5px solid;
	border-right-color: #999;
	border-top-color: #999;
	border-left-color: #666;
	border-bottom-color:#666;
	font-size: 1em; /*1*18 = 18px */ 	
}
button:hover{
	border: 10px solid;
	border-right-color: #666;
	border-top-color: #666;
	border-left-color: #999;
	border-bottom-color:#999;
}
section>p:nth-child(2) /* Fyrsta Textablokk*/
{
	font-size: 1em; /* 1 * 18 = 18px */
	margin-left: 0px;
}
section>p:nth-child(2)::first-line
{
	background-color: #ccc;
}
section>p:nth-child(3)/* Önnur Textablokk*/
{
	font-size: 0.89em; /* 16/18 = 0.888888889 * 18 = ~ 16px */
	margin-left: 3.13em; /* 50/16 3.125 * 16 ~ 50px; */
}
section>p:nth-child(3)::first-line
{
	background-color: #ddd;
}
section>p:nth-child(4) /*Þriðja Textablokk*/
{
	font-size: 0.78em; /* 14/18 = 0.77777778 * 18 = ~ 14px; */
	margin-left: 7.145em; /*100 / 14 = 7.142857..... * 14 = ~ 100px */

}
section p:nth-child(4)::first-line
{
	background-color: #eee;
}

section>p::first-letter /* Gildir fyrir fyrsta staf í öllum p sem eiga parent sem section */
{
	font-size: 2rem; /* 2*18 = 36px passa að sé rem annars miðast þeir við parent elementið og eru misstórir */
	/*Það stendur í verkefninu að megi bara nota em einingar  þannig ef þetta má ekki þá hefði ég geta bætt við first letter og gert 
	þetta manually á allt hitt en þetta meikaði mest sense */
}

/* cards */
.card-section h2
{
	display: none;
}
.cards
{
	max-width: 37em; /* 37 * 18 = 666px */
	margin:auto; /* miðjar elementið */

}
.cards>button
{
	margin-top: 2em;
	margin-left: 13.9em; /* 66.59 + 666 = 732.59 - 135.063 = 597.525 / 18 */
	margin-bottom: 2em;
}

main>section>.cards::after
{	
	margin:1em 0 1em 0;
	content: "Ekki meira efni";
	width: 37em;
	border-top: 1px solid #c00 ;
	display: inline-block;
	padding-top: 1em;

}


.card
{
	width: 10em;
	height: 10em;
	margin: 0.5em;
	padding: 0.5em; 
	border:1px solid black;
	display: inline-block;
}
.card:nth-child(odd)
{
	background-color: #fff;
	color: #333;	
}
.card:nth-child(even)
{
	background-color: #333;
	color: #fff;	
}
.cards:hover .card:nth-child(odd)
{
	background-color: #333;
	color: #fff;
}
.cards:hover .card:nth-child(even)
{
	background-color: #fff; 
	color: #333;
}